
.build
__doc        
/Balder
/demo
/form
/gallery
/tools/reference
/libBalder.a
__libs
.target/
.deps/

*.spv
*~
gyllir.toml.override
/Balder.test
.ymir_test_success
.ymir_coverage_*.json
test/golden/*.actual
