compiler = "/home/emile/ymir/gcc/gcc-install/bin/gyc"
license = "proprietary"
author = "Emile Cadorel <ecadorel@gmail.com>"
libraries = ["SDL2", "SDL2_ttf", "SDL2_image", "vulkan", "assimp", "harfbuzz", "freetype"]
type = "executable"
description = "Ymir 3D engine using Vulkan and GLFW"
version = "0.1.22"
name = "Balder"

[dependencies]
yassimp = {version = "master", url = {git = "git@github.com:Kag-k-thun/bindy-assimp.git"}}
ysdl2 = {version = "master", url = {git = "git@github.com:Kag-k-thun/bindy-sdl2.git"}}
yvulkan = {version = "master", url = {git = "git@github.com:Kag-k-thun/bindy-vulkan.git"}}
yharfbuzz = {version = "master", url = {git = "git@github.com:Kag-k-thun/bindy-harfbuzz.git"}}

[registry]
local = "/home/emile/.local/gyllir/Balder"

[commands]
shader_compile = { cmd = "./compile.sh", post = false, cwd = "./res/shaders" }
